<div class="food-list-container">
  <header>
    <h1>Foodie Menu</h1>
    <button class="cart-button" (click)="viewCart()">
      Cart ({{ cartItemCount }})
    </button>
  </header>

  <div class="food-grid">
    <div class="food-card" *ngFor="let food of foods">
      <img [src]="food.image" [alt]="food.name">
      <div class="food-info">
        <h3>{{ food.name }}</h3>
        <p>{{ food.description }}</p>
        <div class="price-action">
          <span class="price">${{ food.price.toFixed(2) }}</span>
          <button (click)="addToCart(food)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
