<div class="food-list-page">
  <header class="page-header">
    <div class="header-content">
      <h1>Food Menu</h1>
      <div class="cart-icon" (click)="viewCart()">
        <i class="fa-solid fa-cart-shopping"></i>
        <span class="cart-count" *ngIf="cartItemCount > 0">{{ cartItemCount }}</span>
      </div>
    </div>
    <div class="category-filters">
      <button 
        *ngFor="let category of categories" 
        [class.active]="selectedCategory === category"
        (click)="filterByCategory(category)">
        {{ category }}
      </button>
    </div>
  </header>

  <div class="food-grid">
    <div class="food-card" *ngFor="let item of filteredFoodItems">
      <div class="food-image">
        <img [src]="item.image" [alt]="item.name">
        <div class="quick-add" (click)="addToCart(item)">
          <i class="fa-solid fa-cart-plus"></i>
        </div>
      </div>
      <div class="food-details">
        <div class="category-tag">{{ item.category }}</div>
        <h3>{{ item.name }}</h3>
        <p class="description">{{ item.description }}</p>
        <div class="price-row">
          <span class="price">₹{{ item.price }}</span>
          <button class="add-to-cart" (click)="addToCart(item)">
            <i class="fa-solid fa-cart-plus"></i>
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
